body {
font-family: Arial;
background: white;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.calculator {
background: white;
border: 2px solid black;
padding: 20px;
width: 260px;
}

#display {
width: 100%;
height: 40px;
border: 1px solid black;
text-align: right;
font-size: 18px;
padding-right: 10px;
background: white;
color: black;
}

.buttons {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
margin-top: 15px;
}

button {
padding: 15px;
font-size: 16px;
border: 1px solid black;
background: white;
cursor: pointer;
}

button:hover {
background: black;
color: white;
}

.zero {
grid-column: span 2;
}
